* {
  text-align: center;
  background-color: white;
  font-family: Minesweeper;
  color: #404040;
  align-items: center;
}

.header {
  color: #404040;
  font-size: 4em;
}

.play-again {
  color: #404040;
  font-size: 1.5em;
  cursor: pointer;
  animation: glow 0.5s ease-in-out infinite alternate;
}

.winner {
  color: #1c5992;
  font-family: Minesweeper;
  font-size: 50px;
}

.loser {
  color: red;
  font-family: Minesweeper;
  font-size: 30px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: space-around;
}

img {
  display: block;
  width: 100%;
  max-height: 100%;
  background-color: rgb(184, 184, 184);
}

.flagged {
  background: #909090 url("./red-flag.png") no-repeat center;
  background-size: contain;
}

table {
  display: table;
  height: 50%;
  width: 65vw;
  background-color: white;
  /* border: 10px solid #e9e0e0; */
  border-spacing: 10px;
  border-radius: 6px;
}

.iframe {
  background-color: white;
}

td {
  width: 22px;
  height: 22px;
  background-color: #909090;
  border-radius: 4px;
  margin: 5px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  color: cornsilk;
  font-family: Minesweeper;
  font-size: 15px;
}

.visible {
  background-color: rgb(184, 184, 184);
}

.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: green;
}
.brown {
  color: rgb(61, 13, 1);
}

.container {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  justify-content: center;
  margin-top: 10px;
}

#bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 65vw;
  margin-top: 10px;
}

@font-face {
  font-family: Pig;
  src: url(/PIG.TTF);
}

@font-face {
  font-family: Minesweeper;
  src: url(/mine-sweeper.ttf);
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #f198c5;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 20px #f198c5, 0 0 20px #f198c5;
  }
}
